/******************************************************************************/
/**                            DSL REFERENCE CSS                             **/
/**                           Updated: 08.07.2023                            **/
/******************************************************************************/

/**** ÿ¿œ ¿ *******************************************************************/

#header, #footer {
	display: block;
	padding: 8px 20px;
	/* width: 100%; */
	}
#header {
	background: #607DA0 url(../images/dslcompicon.png) no-repeat;
	background-position: right center;
	font-size: 16pt;
	font-family: "Segoe UI Black", "Noto Sans Black", "Arial Black", sans-serif;
	font-weight: 900;
	color: #fff;
	}
#footer {
	background: #E6E7E8;
	border-top: 2px solid #BBBDBF;
	padding: 8px 0px 20px 20px;
	bottom: -40px;
	position: relative;
	}
#footer p {
	margin: 3px 0;
	font-size: 8pt;
	}

/**** «¿√ŒÀŒ¬ » ***************************************************************/

h1 {
	text-align: center;
	margin: 0 0 0.6em;
	font: 17pt "Segoe UI", "Noto Sans", Tahoma, Verdana, Arial, sans-serif;
	font-weight: bold;
	}
h2 {
	font: 14pt "Segoe UI Semibold", "Noto Sans Semibold", Tahoma, Verdana, Arial, sans-serif;
	color: #467AB9;
	margin: 30px 0 0; 
	font-weight: normal;
	}
h3 {
	font: 12pt 'Segoe UI Semibold', 'Noto Sans Semibold', Tahoma, Verdana, Arial, sans-serif;
	font-style: italic;
	margin: 20px 0 0 30px;
	width: 50%;
	}
h2 span.code {
	font-family: "Courier New", Menlo, Consolas, monospace;
	background: ghostwhite;
	color: black;
	border-top: 1px dashed silver;
	border-bottom: 1px dashed silver;
	padding: 1px 2px;
	}

/**** “≈ —“ *******************************************************************/

#main {
	padding: 20px;
	}
[title] {
	cursor: help;
	}
abbr {
	color: green;
	font-family: "Segoe UI", "Noto Sans", Tahoma, Verdana, Arial, sans-serif;
	border-bottom: 1px dotted green;
	}
body {
	margin: 0;
	font: 10pt "Segoe UI", "Noto Sans", Tahoma, Verdana, Arial, sans-serif;
	background: #fff;
	color: #000;
	}
div.list {
	margin-top: 5px;
	}
div.ninja {
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	}
div.ol_sk {
	margin: 2px 50px;
	}
p {
	margin: 10px 20px 10px 30px;
	}
p.list {
	padding: 0 40px 0;
	}
p + div.ol_sk {
	margin-top: 0px;
	}
span.bold {
	color: slategray;
	font-weight: bold;
	}
span.ninja {
	background: #FFFFE1 url(../images/ninja.png) no-repeat 10px 8px;
	border: 1px solid #FFEF82;
	border-radius: 10px;
	padding: 10px 20px 10px 40px;
	}
span.ninja-td {
	background: url(../images/ninja.png) no-repeat;
	padding-left: 24px;
	}
a {
	text-decoration:none;
	}
a:hover {
	text-decoration:underline;
	}
hr {
	margin-left: 30px;
	}
nobr.minor {
	color:slategray;
	}

/**** —œ»— » ******************************************************************/

ol, ul {
	margin: 10px 20px 10px 40px;
	}
ol.level_2 {
	margin: 10px 20px 10px 70px;
	}
ul.level_2 {
	margin: 10px 20px 10px 50px;
	}
li.none {
	list-style-type: none;
	margin-bottom: .4em;
	margin-right: 10em;
	}
p.content {
	margin: 5px 8px;
	}
h3 + p.content {
	margin-top: 10px;
	}
p.content img {
	padding-left: 25px;
	}
a.content {
	text-decoration: none;
	color: black;
	padding-left: 5px;
	font-size: larger;
	background: url(../images/bkm.png) no-repeat 0px 3px;
	padding-left: 25px;
	}
a span.code {
	font-family: "Courier New", Menlo, Consolas, monospace;
	background: none;
	border: none;
	padding: 0;
	}
a img {
	border: none;
	}
a:visited img {
	border: none;
	}

/**** “¿¡À»÷€ *****************************************************************/

table {
	margin: 0 20px 0 40px;
	border: 1px solid;
	border-color: silver;
	border-collapse: collapse;
	}
table.list {
	border: none;
	margin-top: 10px;
	}
table.taglist {
	border: none;
	margin-top: 10px;
	margin-left: 0;
	}
table.double_cover {
	margin: 0 20px 0 40px;
	border: none;
}
table.double {
	margin: 0;
	margin-right: 20px;
	border: 1px solid;
	border-color: silver;
	border-collapse: collapse;
}
col.comment {
	font-style: italic;
	}
col.col1 {
	width: 210px;
	}
th {
	background-color: gainsboro;
	text-align: left;
	font-style: italic;
	border: 1px solid;
	border-color: silver;
	padding: 5px;
	}
tr.list, tr.double_cover {
	border: none;
	}
td {
	border: 1px solid;
	border-color: silver;
	padding: 5px;
	}
td.list {
	border: none;
	padding: 1px 10px;
	vertical-align: top;
	}
td.taglist {
	border: none;
	padding: 1px 10px;
	font: 10pt "Segoe UI", "Noto Sans", Tahoma, Verdana, Arial, sans-serif;
	vertical-align: top;
	}
td.tag {
	border: none;
	padding: 1px 10px;
	font: normal 10pt "Courier New", Menlo, Consolas, monospace;
	text-align: right;
	vertical-align: top;
	position: relative;
	top:3px;
	}
td.link {
	padding: 1px 5px;
	border: none;
	vertical-align: top;
	position: relative;
	top:2px;
	}
td.link:hover {
	cursor: pointer;
	}
td.color {
	border: none;
	padding: 3px 10px 3px 5px;
	}
td.double_cover {
	border: none;
	padding: 0;
	vertical-align: top;
	}
.lpad {
	vertical-align: top;
	padding: 15px 5px;
	}
table.t td {
	min-width: 1.5em;
	text-align: center;
	}
table.t td[colspan] {
	text-align: right;
	padding-right: 0.6em;
	}
table.conv td {
	min-width: 1.5em;
	text-align: center;
	}
table.conv td.hex {
	color: #909090;
	}
table.conv td.hex + td {
	background: #E8E8E8
	}
table.conv td.hex + td + td {
	color: darkblue;
	background: #E8F8FF;
	font-weight: 600;
	}

/****  Œƒ *********************************************************************/

.code {
	background: #E8F8FF;
	font-family: "Courier New", Menlo, Consolas, monospace;
	font-style: normal !important;
	}
span.code {
	border-top: 1px dashed #009EEA;
	border-bottom: 1px dashed #009EEA;
	padding: 0.5px 1px;
	}
.code_error {
	background: #FFE8EA;
	font-family: "Courier New", Menlo, Consolas, monospace;
	font-style: normal !important;
	border-top: 1px dashed #E90106;
	border-bottom: 1px dashed #E90106;
	padding: 0.5px 1px;
	}
.code_names {
	font-family: Consolas, "Courier New", Menlo, monospace;
	background: ghostwhite;
	border-top: 1px dashed silver;
	border-bottom: 1px dashed silver;
	padding: 0.5px 1px;
	}
div.CodeBox {
	border: 1px solid #009EEA;
	background: #E8F8FF;
	padding: 6px;
	margin: 0 20px 0 40px;
	}
div.CodeBox_li {
	border: 1px solid #009EEA;
	background: #E8F8FF;
	padding: 6px;
	margin: 0 40px 0 0;
	}
p.CodeBoxHead {
	background: #D3E4F5;
	padding: 2px 4px 2px 6px;
	margin: 0 0 6px 0;
	}
div.Code {
	border: 1px dashed #009EEA;
	background: #EEF5F9;
	padding: 2px 4px 2px 6px;
	margin: 0;
	overflow: scroll;
	}
pre {
	margin: 0;
	}
span.key {
	border: 1px solid #CDCDCD;
	border-right: 2px solid #CDCDCD;
	border-bottom: 3px solid #CDCDCD;
	border-radius: 4px;
	padding: 0.5px 6px;
	background: #F0F0F0;
	font-family: "Courier New", Menlo, Consolas, monospace;
	margin-left: 1px;
	margin-right: 1px;
	}

/****  ¿–“Œ◊ ¿ ****************************************************************/

div.EntryBox {
	border: 1px solid darkgray;
	background: ghostwhite;
	padding: 6px;
	margin: 0 20px 0 40px;
	width: 500px;
	}
p.EntryBoxHead {
	background: #E7E7F5;
	padding: 2px 4px 2px 6px;
	margin: 0 0 6px 0;
	}
div.Entry {
	border: 1px dashed darkgray;
	background: #FFFFFF;
	padding: 0 10px 10px 10px;
	margin: 0;
	}
div.EntryTitle {
	text-align: right;
	bottom: -10px;
	position: relative;
	}
span.EntryTitle {
	border: 1px solid #D2D2FF;
	background-color: #FBFCFF;
	color: darkslategray;
	padding: 0 3px 1px 3px;
	}
div.NoEntryTitle {
	padding-top: 10px;
	}
.dsl_headword {
	font-weight: bold;
	font-size: 11pt;
	}

/**** DSL “≈√» ****************************************************************/

.dsl_m0 {
	margin-left: 0;
	}
.dsl_m1 {
	margin-left: 10px;
	}
.dsl_m2 {
	margin-left: 20px;
	}
.dsl_m3 {
	margin-left: 30px;
	}
.dsl_m4 {
	margin-left: 40px;
	}
.dsl_m5 {
	margin-left: 50px;
	}
.dsl_m6 {
	margin-left: 60px;
	}
.dsl_m7 {
	margin-left: 70px;
	}
.dsl_m8 {
	margin-left: 80px;
	}
.dsl_m9 {
	margin-left: 90px;
	}
.dsl_p {
	color: green;
	font-style: italic;
	border-bottom: none;
	}
.dsl_t {
	font-family: "Noto Serif Medium", Georgia, "Times New Roman", Times, serif;
	font-size: 10.5pt;
	}
.dsl_ref {
	color: darkblue;
	}
.dsl_ref:hover {
	text-decoration: underline;
	cursor: pointer;
	}
.dsl_ast {
	color: gray; 
	}

/**** DEBUG *******************************************************************/

span.debug {
	background-color:#FFFF9D;
	font-style: italic;
	}
